<%= simple_form_for [topic, post] do |f| %>
  <% if post.errors.any? %>

    <div class="alert alert-danger">
      <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, placeholder: "Enter post title", input_html: { 'rows' => 5, 'cols' => 10} %>
  <%= f.input :body, placeholder: "Enter body test" %>
  <%= f.input :image, placeholder: "Upload image" %>
  <%= f.button :submit %>
     
      
<% end %>